.hud {
  >.user-material-list {
    position: fixed;
    top     : 14px;
    left    : 14px;
  }

  >.logged-in-user-avatar-button {
    position: fixed;
    top     : 14px;
    right   : 14px;

    width           : 40px;
    height          : 40px;
    background-color: #333;
    border-radius   : 50%;

    >button.avatar>.icon-container {
      width : 40px;
      height: 40px;
    }
  }

  >button.world-map {
    position: fixed;
    top     : 68px;
    right   : 14px;
  }

  >.chat-room {
    position: fixed;
    bottom  : 14px;
    left    : 14px;
  }

  >.command-panel {
    position : fixed;
    bottom   : 14px;
    left     : 50%;
    transform: translateX(-50%);
  }

  >.history-panel {
    position: fixed;
    bottom  : 14px;
    right   : 14px;
  }
}